[main]
timeout=5
kafka_service=kafka-14341989-danigm-893f.aivencloud.com:19869
kafka_topic=website-check
kafka_cert=service.cert
kafka_key=service.key
kafka_ca=ca.pem
postgresql=postgres://user:PASSWD@localhost:5432/defaultdb
