[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
kafka-python = "*"

[dev-packages]
flake8 = "*"
requests-mock = "*"

[requires]
python_version = "3.8"
